<div class="container signin-container">
  <div class="signin-form d-flex justify-content-center">
    <h2>Welcome Back!</h2>
    <%= form_for(:session, url: signin_path) do |f| %>

      <%= f.label :name, class: 'text-left' %>
      <%= f.text_field :name, placeholder: 'Enter Your Name', class: 'form-control' %>

      <%= f.submit "Sign In", class: 'signup-btn btn btn-primary' %>
    <% end %>
    <hr/>
    <p>New User? &nbsp; <%= link_to "Sign up Now!", signup_path %>
  </div>
</div>