<div style="text-align:center;">
  <div>
    <p>Welcome, <%= @user.name %></p>
  </div>
  <div>
    <h2>Your Events</h2>
    <ul>
      <% @user.events.each do |event| %>
        <li>
          <p><%= event.name %></p>
          <p><%= event.created_at %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= link_to "Sign Out", signout_path, method: :delete %>
  </div>
  <div>
    <p>******</p>
  </div>
  <div>
    <%= link_to "Create a new event", new_event_path %>
  </div>
</div>