<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="home-card d-flex justify-content-center align-items-center">
    <div class="flash-container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message) %>
      <% end %>
    </div>
      <%= render 'layouts/site_nav' %>
      <div class="home-page-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
